<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header d-flex justify-content-between">
      <div><a href="/articles" class="navbar-brand">Wikinimous</a></div>
      <div><a href="/articles/new" class="navbar-brand">New Article</a></div>
    </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
